<div style="margin-top:20px;">
    <div class="col-xl-7 mx-auto">
    <div class="card border-top border-0 border-4 border-danger">
        <div class="card-body p-5">
            <div class="card-title d-flex align-items-center">
                <div><i class="bx bxs-user me-1 font-22 text-danger"></i>
                </div>
                <h5 class="mb-0 text-danger">Company Details </h5>
            </div>
            <hr>
            <form >
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="inputLastName1" class="form-label">Company Name</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent">
                            <i class='bx bxs-user'></i></span>
                            <input type="text" class="form-control border-start-0" id="inputLastName1"
                             placeholder="Enter Company Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputLastName2" class="form-label">Company reg.no:</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent">
                            <i class='bx bxs-user'></i></span>
                            <input type="text" class="form-control border-start-0" id="inputLastName2" 
                            placeholder="Enter Company reg.no" />
                        </div>
                    </div> 
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="inputLastName1" class="form-label">Physical Address:</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent">
                            <i class='bx bxs-user'></i></span>
                            <input type="text" class="form-control border-start-0" id="inputLastName1"
                             placeholder="Enter Physical Address" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputLastName2" class="form-label">Company Email:</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent">
                            <i class='bx bxs-user'></i></span>
                            <input type="text" class="form-control border-start-0" id="inputLastName2" 
                            placeholder="Enter Company's mail id" />
                        </div>
                    </div> 
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="inputLastName1" class="form-label">Country:</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent">
                            <i class='bx bxs-user'></i></span>
                            <input type="text" class="form-control border-start-0" id="inputLastName1"
                             placeholder="Enter Country" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputLastName2" class="form-label">Contact Number</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent">
                            <i class='bx bxs-user'></i></span>
                            <input type="text" class="form-control border-start-0" id="inputLastName2" 
                            placeholder="Enter Company's contact number" />
                        </div>
                    </div> 
                </div>
                <div class="col-12" style="margin-top: 10px;">
                    <button type="submit" class="btn btn-danger px-5">Update</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
