
<div style="margin-top:20px;">
<div class="col-xl-7 mx-auto">
<div class="card border-top border-0 border-4 border-info">
    <div class="card-body p-5">
        <div class="card-title d-flex align-items-center">
            <div><i class="bx bxs-user me-1 font-22 text-info"></i>
            </div>
            <h5 class="mb-0 text-info">Verify Email</h5>
        </div>
        <hr>
        <form  #add="ngForm" (ngSubmit)="submitemail(add.value)" class="row g-3" >
            <div class="col-12">
                <label for="inputEmailAddress" class="form-label">Email Address</label>
                <div class="input-group"> <span class="input-group-text bg-transparent">
                    <i class='bx bxs-message' ></i></span>
                    <input type="text" ngModel name="email_id" class="form-control border-start-0" id="inputEmailAddress" 
                    placeholder="Enter your mail id here" />
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-info px-5">Verify Mail</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
<!--secnd form for otp-->

<div style="margin-top:20px;" *ngIf="showScnd">
    <div class="col-xl-7 mx-auto">
    <div class="card border-top border-0 border-4 border-info">
        <div class="card-body p-5">
            <div class="card-title d-flex align-items-center">
                <div><i class="bx bxs-user me-1 font-22 text-info"></i>
                </div>
                <h5 class="mb-0 text-info">Verify Otp</h5>
            </div>
            <hr>
            <form  #addOtp="ngForm" (ngSubmit)="submitotp(addOtp.value)" class="row g-3">
                <div class="col-12">
                    <div  class="input-group"> <span class="input-group-text bg-transparent">
                        <i class='bx bxs-message' ></i></span>
                        <input type="text" ngModel name="email_id" class="form-control border-start-0" id="inputEmailAddress" 
                        placeholder="Enter your mail id here" />
                    </div>
                    <label for="inputEmailAddress" class="form-label">Otp</label>
                    <div class="input-group"> <span class="input-group-text bg-transparent">
                        <i class='bx bxs-message' ></i></span>
                        <input type="text" ngModel name="otp" class="form-control border-start-0" id="inputEmailAddress" 
                        placeholder="Enter your otp here" />
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-info px-5">Verify Otp</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
<!--scnd form end-->
<!--third strt-->
<div style="margin-top:20px;" *ngIf="showThird">
    <div class="col-xl-7 mx-auto">
    <div class="card border-top border-0 border-4 border-info">
        <div class="card-body p-5">
            <div class="card-title d-flex align-items-center">
                <div><i class="bx bxs-user me-1 font-22 text-info"></i>
                </div>
                <h5 class="mb-0 text-info">Forgot Password</h5>
            </div>
            <hr>
            <form [formGroup]="GetnewPassword" (ngSubmit)="getForgotpassword(GetnewPassword.value)" class="row g-3">
                <div class="col-12">
                    <label for="inputEmailAddress" class="form-label">Email Address</label>
                    <div class="input-group"> <span class="input-group-text bg-transparent">
                        <i class='bx bxs-message' ></i></span>
                        <input type="text" formControlName="email_id" class="form-control border-start-0" id="inputEmailAddress" 
                        placeholder="Email Address" />
                    </div>
                </div>
                <div class="col-12">
                    <label for="inputEmailAddress" class="form-label">Password</label>
                    <div class="input-group"> <span class="input-group-text bg-transparent">
                        <i class='bx bxs-message' ></i></span>
                        <input type="text" formControlName="password" class="form-control border-start-0" id="inputEmailAddress"
                         placeholder="Enter Password" />
                    </div>
                </div>
                <div class="col-12">
                    <label for="inputEmailAddress" class="form-label">Confirm Password</label>
                    <div class="input-group"> <span class="input-group-text bg-transparent">
                        <i class='bx bxs-message' ></i></span>
                        <input type="text"  formControlName="confirm_password" class="form-control border-start-0" id="inputEmailAddress"
                         placeholder="Enter Confirm Password" />
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-info px-5">Verify Mail</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
<!--third end-->