<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">About Us</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Our Planners </li>
            </ol>
        </nav>
    </div>
    
</div>
<!--modal strt-->

<!--end modal-->
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="assets/images/avatars/avatar-2.png" alt="Admin" 
                            class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4>Planners 1</h4>
                                <p class="text-secondary mb-1">Planner</p>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                <button class="btn btn-primary" style="margin-right: 10px;">View Profile</button>
                                <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--scd-->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="assets/images/avatars/avatar-2.png" alt="Admin" 
                            class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4>Planner 2</h4>
                                <p class="text-secondary mb-1">Organisor</p>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                <button class="btn btn-primary" style="margin-right: 10px;">View Profile </button>
                                <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--scd end-->
                        <!--scd-->
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="assets/images/avatars/avatar-2.png" alt="Admin" 
                                        class="rounded-circle p-1 bg-primary" width="110">
                                        <div class="mt-3">
                                            <h4>Planner 2</h4>
                                            <p class="text-secondary mb-1">Organisor</p>
                                            <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                            <button class="btn btn-primary" style="margin-right: 10px;">View Profile </button>
                                            <button class="btn btn-outline-primary">Message</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--scd end-->
        </div>
    </div>
</div>








